/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.container {
  padding: 0rem 1.5rem 0;
}

.main {
  background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
  gap: 3rem;
}
.main .mission {
  color: hsl(300deg, 43%, 22%);
  padding: 6rem 1.5rem 0;
  gap: 1.5rem;
}
.main .mission .mission__description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.main .mission .mission__description .mission__description-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -3px;
  word-spacing: 0px;
  max-width: 300px;
}
.main .mission .mission__description .mission__desctiption-desc {
  font-size: 14px;
  line-height: 25px;
}
.main .mission .mission__ratings .mission__ratings-item {
  background-color: hsl(300deg, 24%, 96%);
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  -webkit-animation: slide-in 1s ease-out forwards;
          animation: slide-in 1s ease-out forwards;
  opacity: 0;
  transition: opacity 1s;
}
.main .mission .mission__ratings .mission__ratings-item .ratings__text {
  font-weight: bold;
  letter-spacing: -1px;
}
.main .mission .mission__ratings .mission__ratings-item:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main .mission .mission__ratings .mission__ratings-item:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main .testimonial {
  gap: 1rem;
  padding-bottom: 6rem;
}
.main .testimonial .testimonial__card {
  color: white;
  background-color: hsl(300deg, 43%, 22%);
  padding: 2rem;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.363);
  border-radius: 8px;
  gap: 1rem;
  -webkit-animation: slide-up 1s ease-out forwards;
          animation: slide-up 1s ease-out forwards;
  opacity: 0;
  transition: opacity 1s;
}
.main .testimonial .testimonial__card .testimonial__card-header {
  gap: 1.5rem;
  align-items: center;
}
.main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper {
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}
.main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper .testimonial__card-title {
  font-weight: bold;
}
.main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper .testimonial__card-subtitle {
  color: hsl(333deg, 80%, 67%);
}
.main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-avatar {
  width: 45px;
  border-radius: 50px;
}
.main .testimonial .testimonial__card .testimonial__card-description {
  line-height: 25px;
}
.main .testimonial .testimonial__card:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main .testimonial .testimonial__card:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (min-width: 1025px) {
  .container {
    padding: 0rem 8rem 0;
  }
  .main {
    gap: 3rem;
    max-width: 1440px;
    margin: 0 auto;
    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
  }
  .main .mission {
    color: hsl(300deg, 43%, 22%);
    padding: 8rem 8rem 0;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
  .main .mission .mission__description {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    max-width: 480px;
  }
  .main .mission .mission__description .mission__description-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -3px;
    word-spacing: 0px;
    max-width: 300px;
  }
  .main .mission .mission__description .mission__desctiption-desc {
    font-size: 16px;
    line-height: 25px;
  }
  .main .mission .mission__ratings {
    grid-template-columns: 60px 60px repeat(2, 1fr) 60px 60px;
    grid-template-rows: repeat(3, 1fr);
  }
  .main .mission .mission__ratings .mission__ratings-item {
    background-color: hsl(300deg, 24%, 96%);
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 8px;
    align-items: center;
    flex-grow: 1;
    max-width: 450px;
    min-width: 400px;
  }
  .main .mission .mission__ratings .mission__ratings-item .ratings__text {
    font-weight: bold;
    letter-spacing: -1px;
  }
  .main .mission .mission__ratings .reviews {
    grid-column: 1/span 4;
  }
  .main .mission .mission__ratings .guru {
    grid-column: 2/span 4;
  }
  .main .mission .mission__ratings .bestech {
    grid-column: 3/span 6;
  }
  .main .testimonial {
    gap: 2rem;
    padding-bottom: 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8px 8px repeat(2, 1fr) 8px;
  }
  .main .testimonial .colton {
    grid-row: 1/span 4;
  }
  .main .testimonial .irene {
    grid-row: 2/span 4;
  }
  .main .testimonial .anne {
    grid-row: 3/span 5;
  }
  .main .testimonial .testimonial__card {
    color: white;
    background-color: hsl(300deg, 43%, 22%);
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.363);
    border-radius: 8px;
    gap: 1rem;
    max-width: 410px;
  }
  .main .testimonial .testimonial__card .testimonial__card-header {
    gap: 1.5rem;
    align-items: center;
  }
  .main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper {
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
  }
  .main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper .testimonial__card-title {
    font-weight: bold;
  }
  .main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-text-wrapper .testimonial__card-subtitle {
    color: hsl(333deg, 80%, 67%);
  }
  .main .testimonial .testimonial__card .testimonial__card-header .testimonial__card-avatar {
    width: 45px;
    border-radius: 50px;
  }
  .main .testimonial .testimonial__card .testimonial__card-description {
    line-height: 25px;
  }
}/*# sourceMappingURL=main.css.map */