@use './base/reset';
@use './sass-utils/variables' as var;
@use './sass-utils//mixins' as mix;
body {
    font-size: var.$font-size;
    font-family: var.$font-family-league;
   
}

.grid {
    display: grid;
}
.flex {
    display: flex;
}
.container {
    padding: 0rem 1.5rem 0;
}

.main {
    background:
            url(../images/bg-pattern-top-mobile.svg) left top no-repeat,
            url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    gap: 3rem;
    .mission {
        color:var.$very-dark-magenta;
        padding: 6rem 1.5rem 0;
        gap: 1.5rem;
        .mission__description {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:1.5rem;
            .mission__description-title {
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -3px;
                word-spacing: 0px;
                max-width: 300px;
            }
            .mission__desctiption-desc {
                font-size:14px;
                line-height: 25px;
            }
        }
        .mission__ratings {
            .mission__ratings-item {
                background-color: var.$light-grayish-magenta;
                margin-top: 1rem;
                padding: 1rem 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius:8px;
                animation: slide-in 1s ease-out forwards;
                opacity: 0;
                transition: opacity 1s;
                .ratings__text {
                    font-weight: bold;
                    letter-spacing: -1px;
                }
            }
            .mission__ratings-item:nth-child(2) {
                animation-delay: 1s;
            }

            .mission__ratings-item:nth-child(3) {
                animation-delay: 2s;
            }
        }
    }

    .testimonial {
        gap: 1rem;
        padding-bottom: 6rem;
        .testimonial__card {
            color: white;
            background-color:var.$very-dark-magenta;
            padding: 2rem;
            box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.363);
            border-radius: 8px;
            gap:1rem;
            animation: slide-up 1s ease-out forwards;
            opacity: 0;
            transition: opacity 1s;
            .testimonial__card-header {
                gap: 1.5rem;
                align-items: center;
                .testimonial__card-text-wrapper{
                    flex-direction: column;
                    gap:5px;
                    font-size: 12px;
                    .testimonial__card-title {
                        font-weight: bold;
                    }
                    .testimonial__card-subtitle {
                        color: var.$soft-pink;
                    }
                }
                .testimonial__card-avatar {
                    width: 45px;
                    border-radius: 50px;
                }
            }
            .testimonial__card-description {
              line-height: 25px;
            }
        }
        .testimonial__card:nth-child(2) {
            animation-delay: 1s;
        }

        .testimonial__card:nth-child(3) {
            animation-delay: 2s;
        }
    }
}
@keyframes slide-in {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



@include mix.media(desktop) {
    .container {
        padding: 0rem 8rem 0;
    }

    .main {
        gap: 3rem;
        max-width: 1440px;
        margin: 0 auto;
        background:
                url(../images/bg-pattern-top-desktop.svg) left top no-repeat,
                url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
        .mission {
            color: var.$very-dark-magenta;
            padding: 8rem 8rem 0;
            gap: 1.5rem;
            grid-template-columns: 1fr 1fr;

            .mission__description {
                text-align: start;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1.5rem;
                max-width: 480px;

                .mission__description-title {
                    font-size: 2.5rem;
                    font-weight: 700;
                    letter-spacing: -3px;
                    word-spacing: 0px;
                    max-width: 300px;
                }

                .mission__desctiption-desc {
                    font-size: 16px;
                    line-height: 25px;
                }
            }

            .mission__ratings {
                grid-template-columns: 60px 60px  repeat(2,1fr) 60px 60px;
                grid-template-rows: repeat(3, 1fr);
                .mission__ratings-item {
                    background-color: var.$light-grayish-magenta;
                    margin-top: 1rem;
                    padding: 1rem 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    border-radius: 8px;
                    align-items: center;
                    flex-grow: 1;
                    max-width: 450px;
                    min-width: 400px;
                    .ratings__text {
                        font-weight: bold;
                        letter-spacing: -1px;
                    }
                }
                .reviews {
                    grid-column: 1/ span 4 ;
                }
                .guru {
                    grid-column: 2/ span 4 ;
                }
                .bestech {
                    grid-column: 3/ span 6 ;
                }
            }
        }
        .testimonial {
            gap: 2rem;
            padding-bottom: 6rem;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 8px 8px repeat(2, 1fr) 8px ;
         
            .colton {
                grid-row: 1/ span 4;
            }
            .irene {
                grid-row: 2/ span 4;
            }
            .anne {
                grid-row: 3/ span 5;
            }

            .testimonial__card {
                color: white;
                background-color: var.$very-dark-magenta;
                padding: 2rem;
                box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.363);
                border-radius: 8px;
                gap: 1rem;
                max-width: 410px;

                .testimonial__card-header {
                    gap: 1.5rem;
                    align-items: center;

                    .testimonial__card-text-wrapper {
                        flex-direction: column;
                        gap: 5px;
                        font-size: 12px;

                        .testimonial__card-title {
                            font-weight: bold;
                        }

                        .testimonial__card-subtitle {
                            color: var.$soft-pink;
                        }
                    }

                    .testimonial__card-avatar {
                        width: 45px;
                        border-radius: 50px;
                    }
                }

                .testimonial__card-description {
                    line-height: 25px;
                }
            }
        }
    }
}





